{
  "branches": [
    "main"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "getLastRelease": "@semantic-release/git",
  "prepare": [
    {
      "path": "@semantic-release/changelog",
      "changelogFile": "CHANGELOG.md"
    },
    {
      "path": "@semantic-release/npm",
      "npmPublish": true
    },
    {
      "path": "@semantic-release/git",
      "assets": [
        "package.json",
        "CHANGELOG.md"
      ],
      "message": "chore(release): v${nextRelease.version} - <%= new Date().toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric'}) %> [skip ci]\n\n${nextRelease.notes}"
    }
  ],
  "publish": [
    "@semantic-release/github",
    "@semantic-release/npm"
  ]
}
